<template lang="pug">
  div
    h1 {{title}}
    b-button(@click="onClick") ok

</template>

<script>
  import axios from 'axios';

  export default {
    async asyncData({params}) {
      const {data} = await axios.get(`http://api.aniva-bay.d/articles/${params.id}`)
      return {
        title: data.title
      }
    },
    methods: {
      onClick() {
        this.title = "another text"
      }
    }
  }
</script>

<style scoped>

</style>
