<template lang="pug">
  div
    table.table.table-bordered
      thead
        tr
          th
            button.btn.btn-link Статья
          th
            button.btn.btn-link Добавлено
          th
            button.btn.btn-link Рейтинг
          th
            button.btn.btn-link Действия
      tbody
        tr(v-for="item in items", :key="item.id")
          td
            .media
              img.mr-3(src="/123.jpeg", alt="Картинка", width="100")
              .media-body
                nuxt-link.mt-0(:to="{name:'admin-articles-id', params: {id: item.id}}") {{item.title}}
                p {{item.description}}
          td {{item.added|humanizeDate}} в {{item.category}}
          td
            font-awesome-icon(:icon="['fas','star']").fa-1x
            | &nbsp;{{item.rate}}
          td
            b-button.mt-0(:to="{name:'admin-articles-edit', params: {id: item.id, action: 'edit'}}")
              font-awesome-icon(:icon="['fa','edit']")
            | &nbsp;
            b-button.mt-0(@click="onDeleteClick(item)")
              font-awesome-icon(:icon="['fa','trash-alt']")

      b-modal(:visible="isModalDeleteVisible", title="Удаление статьи", @ok="onModalDeleteOK", @cancel="onModalDeleteCancel")
        template(v-if="itemToDelete")
          h3 {{itemToDelete.title}}
</template>

<script>
  import api from '../../../api'
  import { parse, distanceInWordsToNow } from 'date-fns'
  import ru from 'date-fns/locale/ru'

  export default {
    layout: 'admin',
    filters: {
      humanizeDate (value) {
        return distanceInWordsToNow(parse(value), {
          locale: ru,
          addSuffix: true
        })
      }
    },
    async asyncData ({params}) {
      const {data} = await api.get(`/articles`)
      return {
        items: data
      }
    },
    data: () => ({
      itemToDelete: null,
      isDeleting: false
    }),
    computed: {
      isModalDeleteVisible () {
        return this.itemToDelete !== null
      }
    },
    methods: {
      async fetchItems () {
        const {data} = await api.get(`/articles`)
        this.items = data
      },
      onDeleteClick (item) {
        this.itemToDelete = item
      },
      async onModalDeleteOK () {
        try {
          this.isDeleting = true
          await api.delete(`/articles/${this.itemToDelete.id}`)
          this.itemToDelete = null
          this.fetchItems()
        } catch (e) {
          console.log(e)
        } finally {
          this.isDeleting = false
        }

      },
      onModalDeleteCancel () {
        this.itemToDelete = null
      }
    }
  }
</script>

<style>
</style>

