<template lang="pug">

</template>

<script>
  export default {
    layout: 'admin',
    data() {
      return {
        title: 'Hello, world!'
      }
    },
    methods: {
      onClick() {
        this.title = "another text"
      }
    }
  }
</script>

<style>
</style>

